<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <%- partial("_includes/head") %>
</head>

<body>
    <div class="container">
        <%- partial("_includes/header") %>
        <main>
            <%- body %>
        </main>
        <%- partial("_includes/footer") %>
    </div>
</body>

</html>
